<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Demo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="banner">
      <h1>Home</h1>
    </div>
    <div id="left-panel">
      <%# left-panel %>
      <% if user_signed_in? %>
        Welcome, <%= current_user.name %>.<br />
        <%= link_to "sign out", destroy_user_session_path, data: {
          turbo_method: :delete
        } %>
      <% else %>
        <%= link_to "sign in", new_user_session_path %>
        <%= link_to "sign up", new_user_registration_path %>
      <% end %>
      <br /><br />
      <%= link_to "home", root_path %>

      <br /><br />
      <div id="footer">
        Copyright pzy &copy; 2024
      </div>
    </div>

    <div id="main-panel">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>


  </body>
</html>

