<%= form_with(model: user, local: true, html: { multipart: true }) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "错误") %> 阻止用户信息被保存：</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>

  <div class="field">
    <%= f.label :role_level, "权限" %><br />
    <%= f.select :role_level, User.role_levels.keys.map { |role| [role.humanize, role] }, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :password, "密码" %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <em>如果不想修改密码，请留空。</em>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "确认密码" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :avatar_picture, "个人头像" %>
    <div class="avatar-container">
      <p>当前头像：</p>
      <%= user_avatar(user) %>
    </div>
    <%= f.file_field :avatar_picture, accept: "image/jpeg,image/png", onchange: "previewImage(this);" %>
    <p class="help-text">支持 JPG、PNG 格式，大小不超过 5MB</p>
  </div>

  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>

<%= link_to '返回', user %>

<script>
  function previewImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      var preview = document.getElementById('avatar-preview');

      reader.onload = function(e) {
        preview.src = e.target.result;
      }

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>