<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= user.telephone %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Volunteer hours:</strong>
    <%= user.volunteer_hours %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= user.profile_picture %>
  </p>

  <p>
    <strong>Role level:</strong>
    <%= user.role_level %>
  </p>

</div>
