<h1>用户详情</h1>

<p>
  <strong>姓名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>邮箱:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>电话:</strong>
  <%= @user.telephone %>
</p>

<p>
  <strong>权限:</strong>
  <%= @user.role_level.humanize %>
</p>

<p>
  <strong>志愿时数:</strong>
  <%= @user.volunteer_hours %> 小时
</p>

<p>
  <strong>个人头像:</strong><br />
  <%= user_avatar(@user) %>
</p>
<% if current_user.admin? || current_user == @user %>
  <%= link_to '修改信息', edit_user_path(@user) %> |
<% end %>
<%= back_link '返回' %>
