<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Event time:</strong>
    <%= event.event_time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

  <p>
    <strong>Registration deadline:</strong>
    <%= event.registration_deadline %>
  </p>

  <p>
    <strong>Max participants:</strong>
    <%= event.max_participants %>
  </p>

</div>
