<h1><%= @event.title %></h1>

<p><strong>描述:</strong> <%= @event.description %></p>
<p><strong>开始时间:</strong> <%= @event.start_time.strftime("%Y-%m-%d %H:%M") %></p>
<p><strong>结束时间:</strong> <%= @event.end_time.strftime("%Y-%m-%d %H:%M") %></p>
<p><strong>地点:</strong> <%= @event.location %></p>
<p><strong>状态:</strong> <%= @event.status.humanize %></p>
<p><strong>报名截止时间:</strong> <%= @event.registration_deadline.strftime("%Y-%m-%d %H:%M") %></p>
<p><strong>报名人数/最大参与人数:</strong> <%= @event.participants.count %> / <%= @event.max_participants %></p>
<p><strong>组织者:</strong> <%= @event.organizer_teacher.name %></p>

<h2>关联教师</h2>
<ul>
  <% @event.teachers.each do |teacher| %>
    <li>
      <%= teacher.name %>
      <% if current_user.admin? || current_user == @event.organizer_teacher %>
        <%= button_to '移除', event_teacher_event_path(@event, teacher.teacher_events.find_by(event: @event)), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user.admin? || current_user == @event.organizer_teacher %>
  <h3>添加教师</h3>
  <%= form_with url: event_teacher_events_path(@event), data: { turbo_method: :post } do |f| %>
    <div class="form-group">
      <%= label_tag :user_id, "选择教师" %>
      <%= select_tag :user_id, options_for_select(User.where(role_level: :teacher).map { |teacher| ["#{teacher.name} (#{teacher.email})", teacher.id] }), prompt: "请选择教师", class: "form-control" %>
    </div>
    <%= f.submit '关联教师'%>
  <% end %>
<% end %>

<hr>

<% if user_signed_in?%>
  <% if current_user.admin? || @event.organizer_teacher == current_user %>
    <%= link_to '编辑活动', edit_event_path(@event) %>
    <%= link_to '删除活动', event_path(@event), data: {
      turbo_method: :delete,
      turbo_confirm: "确定要删除活动 #{@event.title} 吗？"
    } %>
  <% else %>
    <% if current_user.registered_events.include?(@event) %>
      <%= button_to '取消报名', event_student_event_path(@event, current_user.student_events.find_by(event: @event)), method: :delete %>
    <% elsif @event.status == 'ongoing' %>
      <%= button_to '报名参加', event_student_events_path(@event), method: :post %>
    <% else %>
      <p>报名已满或活动不允许报名。</p>
    <% end %>
  <% end %>
<% end %>

<%= link_to '返回活动列表', events_path %>