<div id="<%= dom_id volunteer_position %>">
  <p>
    <strong>Event:</strong>
    <%= volunteer_position.event_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= volunteer_position.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= volunteer_position.description %>
  </p>

  <p>
    <strong>Required number:</strong>
    <%= volunteer_position.required_number %>
  </p>

  <p>
    <strong>Volunteer hours:</strong>
    <%= volunteer_position.volunteer_hours %>
  </p>

  <p>
    <strong>Registration deadline:</strong>
    <%= volunteer_position.registration_deadline %>
  </p>

</div>
